@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Premium dark background pattern */
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,0.1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,0.1) 0, transparent 50%);
  background-attachment: fixed;
  font-family: system-ui, -apple-system, sans-serif;
}